@import "lessDefine";

.btn {
  border: none;
  outline: none;
  height: 30px;
  padding: 4px 14px;
  border-radius: 15px;
  cursor: pointer;
}

.no-btn{
  outline: 0;
  border: 0;
  background-color: #ffffff;
  color: @grey67;
  cursor: pointer;
  &:hover{
    color: @grey37;
  }
}

.btn-white{
  border: 1px solid @greyD8;
  background-color: #fff;
  color: @grey37;
  &:hover{
    background-color:@grayF2;
  }
}