@import "lessDefine";

.btn {
  border: none;
  outline: none;
  height: 30px;
  padding: 4px 14px;
  border-radius: 15px;
  cursor: pointer;
}

.no-btn{
  outline: 0;
  border: 0;
  background-color: #ffffff;
  color: @grey67;
  cursor: pointer;
  &:hover{
    color: @grey37;
  }
}

.ctl-btn{
  outline: 0;
  border: 0;
  background-color: #ffffff;
  cursor: pointer;
  &:hover{
    color: @playerHover;
  }
}

.btn-white{
  border: 1px solid @greyD8;
  background-color: #fff;
  color: @grey37;
  &:hover{
    background-color:@greyF2;
  }
}

.btn-red{
  color: white;
  outline: 0;
  border: 0;
  background-color: @headRed;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    background-color: @headDeepRed;
  }
}

.cir-btn-orange{
  display: block;
  height: 30px;
  padding: 0 16px;
  outline: 0;
  border: 1px solid #e7aa5a;
  color: #e7aa5a;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 15px;
}

.cir-btn-white{
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  outline: 0;
  background: #fff;
  border: 1px solid #dadada;
  border-radius: 15px;
  vertical-align: middle;
}

.cir-btn-red{
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  outline: 0;
  background: #ec4141;
  color: white;
  border-radius: 15px;
  border: none;
  vertical-align: middle;
}

.mtop-10{
  margin-top: 10px;
}

.text-over{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.grey-color{
  color: @listGrey;
}

.dark-color{
  color: @listDark;
}

.red-color{
  color: @headRed;
}

.mar-top-30{
  margin-top: 30px;
}

.mar-top-20{
  margin-top: 20px;
}

.mar-top-15{
  margin-top: 15px;
}

.mar-top-10{
  margin-top: 10px;
}

.mar-top-5{
  margin-top: 5px;
}

.mar-ri-5{
  margin-right: 5px;
}

.mar-ri-10{
  margin-right: 10px;
}

.mar-bot-10{
  margin-bottom: 10px;
}

.mar-bot-15{
  margin-bottom: 15px;
}

.mar-bot-20{
  margin-bottom: 20px;
}

.mar-bot-30{
  margin-bottom: 30px;
}


.mar-side-30{
  margin-left: 30px;
  margin-right: 30px;
}