@import "lessDefine";

.search-input {
  .el-input {
    border: none;

    .el-input__wrapper {
      background-color: @headDeepRed;
      box-shadow: 0 0 0 0;
      border: none;
      border-radius: 16px;
      color: @inputWhite;

      .el-input__inner {
        color: @inputWhite;
      }
    }
  }
}