@headRed:#ec4141;
@headDeepRed:#e13e3e;
@bgWhite:#ffffff;
@navChooseWhite:#f5f5f6;
@headIcon:#fbd9d9;
@border: #c5c5c5;
//输入框字体颜色
@inputWhite:#fffafa;
//no-btn字体颜色
@grey67:#676767;
//no-btn hover颜色
@grey37:#373737;
//白色按钮边框颜色
@greyD8:#d8d8d8;
//白色按钮hover变灰
@grayF2:#f2f2f2;
// 列表背景色
@grey57:#f5f5f7;