@headRed:#ec4141;
@headDeepRed:#e13e3e;
@bgWhite:#ffffff;
@navChooseWhite:#f5f5f6;
@headIcon:#fbd9d9;
@border: #c5c5c5;
//输入框字体颜色
@inputWhite:#fffafa;
//no-btn字体颜色
@grey67:#676767;
//no-btn hover颜色
@grey37:#373737;
//白色按钮边框颜色
@greyD8: #efefef;
//白色按钮hover变灰
@greyF2:#f2f2f2;
// 列表背景色
@grey57:#f5f5f7;
// ---------歌手页
// 按钮红色字体
@selectedRed: #EE5656;
// active按钮淡红色背景
@activeBackRed:#FEF5F5;
// 按钮hover淡红色
@activeHover:#FDEEEE;
// 图片边框颜色
@greyEF: #EFEFEFEF;
//-------------最新音乐----------
// 灰色按钮背景色
@btnGrey: #BBBBBB;
@btnGreyHover: #F5F5F5;
// -------------音乐列表----------
// 音乐列表背景色
@listBg:#FAFAFA;
// 音乐列表hover
@listHover:#F2F2F3;
// 正在播放的音乐背景色
@listPlaying: #E5E5E5;
//列表灰色字体
@listGrey:#AFAFAF;
// 列表深灰色字体
@listDark:#5C5C5C;
// vip图标颜色
@vipColor:#FE672E;